<!DOCTYPE html>
<html>
    
    <head>
        <title>Alpha Blog - Ruby on Rails Udemy Course Project</title>
    </head>
    
    <body>
        
        <h1>This is the About Page</h1>
        <p>To go to Home page please click <%= link_to 'here', root_path %></p>
    </body>
    
</html>
